@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3";
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section div {
    position: relative;
    width: 50%;
    background-color: #5a8224;
    overflow: hidden;
}

section div:nth-child(1){
    background-image: url(img/cabaña_montaña.jpg);
    width: 50%;
    background-size: cover;
}

section div h2 {
    position: absolute;
    font-size: 12em;
    white-space: nowrap;
    line-height: 100vh;
}

section div:nth-child(1) h2 {
    left: 100%;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: #96ca51;
    -webkit-text-fill-color: transparent;
    animation: animate 60s linear infinite;
}

section div:nth-child(2) h2 {
    left: 0;
    animation: animate 60s linear infinite;
}



@keyframes animate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
